* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: rgb(234, 237, 237);
}

a {
  text-decoration: none;
}

@media (max-width: 37em) {
  html {
    font-size: 50%;
  }
}
